*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  
  :root {
    --hue-neutral: 333;
    --hue-wrong: 14;
    --hue-correct: 145;
  }
  
  body {
    font-size: 1.6rem;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
  }
  
  /** Black pink logo for background picture **/
  .logo-picture {
    margin: -6rem auto 0.5rem auto;
    height: auto;
    max-width: 80%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }

  /*buttons style*/

  .btn {
    background-color: #F49AC2	;
    border-radius: 8px;
    color: black;
    outline: none;
    font-weight: 500;
    
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.9rem;
    font-weight: bold;
    padding: 15px 30px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

  /*style for card */

.card-body {
  padding: 5%;
  background-color: rgba(248, 235, 249, 0.836);
}

.styleboxx {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0);
}

#question {
  font-size: x-large;
  font-weight: 500;
}
  /*style for footer */
  .score-area {
    position: relative;
    text-align: center;
    font-size: 30px;
  }

  .score-area p {
    display: inline-block;
    padding: 15px;
    color: pink;
    position: sticky;
  }
  